<header class="header">
  <div class="container">
    <div class="row">
        <div class="header-content trans_400">
          <div class="logo">
           <div>BIER<span>cadeau</span></div>
          </div>
          <nav class="main-nav">
            <ul class="nav-items">
              <li routerLinkActive="active">
                <a [routerLink]="['/beers']">Bier zoeken</a>
              </li>
              <li routerLinkActive="active" class="storeLink">
                <a [routerLink]="['/shopping']">Bestel je bier</a>
                <span class="qty" *ngIf="cart.length > 0">{{cart.length}}</span>
              </li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</header>
