<div class="beer-container">
  <div class="beer-image" style="background-image:url('../../../../../assets/images/beer-image.jpg')"></div>
  <div class="beer-title">
    {{beer.Bier}}
  </div>
  <div class="beer-promile">
    Alcoholpercentage: <span>{{beer.Alcoholpercentage}}</span>
  </div>
  <div class="beer-content">
    <p>
      Bier <span>{{beer.Bier}}</span>
      <ng-container *ngIf="beer.Sinds">
        en is gebrouwen op <span>{{beer.Sinds}} </span>
      </ng-container>
      en verkrijgbaar bij <span>{{beer.Brouwerij}}</span>.
      Dit biertje bevat <span>{{beer.Alcoholpercentage}} </span>
      alcohol percentage.
      <ng-container *ngIf="beer.Gisting">
        Het <span>{{beer.Bier}} </span>
        heeft een <span>{{beer.Gisting}} </span> gisting niveau.
      </ng-container>
      <ng-container *ngIf="beer.Stamwortgehalte">
        De Stamwortel gehalte is <span>{{beer.Stamwortgehalte}}</span>
      </ng-container>
    </p>
  </div>
  <div class="beer-button">
    <a (click)="addToCart(beer)">Ik kies deze!</a>
  </div>
</div>
